

.blog-slide{
    height: 400px;

    padding: 10px;
}
.blog-slide img{
    height: 100%;
    border-radius: 5px;
}
.blog-slide h3{
    padding-top: 10px;
    font-size: 1.2rem;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-style: italic;
    color: gray;
}