.app{
    /* background-image: url('../../assets/bg-gray-2.jpg'); */
    /* background-image: url('../src/assets/bg-gray-3.png'); */
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: #fff;
    overflow-x: hidden;
    /* background-color: aliceblue; */
    /* padding: 0 100px; */
    /* background-color: aliceblue; */
    /* background-image: url('./assets/bg-gray-1.jpg'); */
}